/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Jul-2019, 9:45:03 PM
    Author     : Michal Zarnowski
*/

.mainWindow {
    -fx-background-color: #59b7ff;
}

Button {
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-background-insets: 5px;
}

Button:hover {
    -fx-background-color: #abb5c4;
    -fx-text-fill: #0091ff;
}

#mainLabel {
    -fx-text-fill: white;
    -fx-font-size: 25pt;
    -fx-padding: 5px 0 0 150px;
}

Label {
    -fx-text-fill: white;
    -fx-font-size: 20pt;
}

.filterArea {
    -fx-padding: 20px 0 20px 0;
    -fx-alignment: center;
}

.filterDropDown {
    -fx-padding: 0px 100px 0 10px;
    -fx-alignment: center;
}

.combo-box {
    -fx-pref-width: 300px;
}

#customWeightBtn {
    -fx-pref-width: 200px;
    -fx-spacing: 200px;
}

.table-view {
    -fx-pref-width: 600px;
}

.table-view .column-header .label {
    -fx-font-size: 7pt;
    -fx-text-fill: black;
    -fx-alignment: CENTER_LEFT;
}

#col1 {
    -fx-pref-width: 200px;
}

#col2, #col3, #col4 {
    -fx-pref-width: 50px;
}

#col5 {
    -fx-pref-width: 100px;
}

#col6, #col7 {
    -fx-pref-width: 75px;
}